@font-face {
    font-family: "JetBrains Mono";
    src: url(font.ttf);
}

a {
    color: #32cd32;
}

a.external {
    color: #ffbf00;
}

pre {
    color: greenyellow;
    font-family: "JetBrains Mono", monospace;
}

code {
    color: greenyellow;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
}

.floating {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.legacy-box {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: yellow;
    color: black;
}

.legacy-box a {
    color: blue;
}

#everything-container {
    margin: 8px;
}
