<h2>Strona główna</h2>

<img src="res/img/starypc.jpg" height="100" class="floating">

<p>
    <b>starypc</b> to serwer w posiadaniu Grześka11. Swoją nazwę zawdzięcza temu, że jest starym pecetem (<i>serio?</i>), który kiedyś był używany przez niego jako główny komputer. Nie jest szybki, a w dodatku nie ma dobrego połączenia z internetem. Mimo to kilka osób które korzysta z jego przestrzeni hostingowej jest raczej zadowolonych.
</p>

<h3>Oferujemy</h3>
<ul>
    <li>Miejsce na twoją stronę</li>
    <li>Połączenie przez SSH i FTP</li>
    <li>Kilka pre-hosted rzeczy:</li>
    <ul>
        <li>Nextcloud (chmura)</li>
        <li>QuasselCore (bouncer IRC)</li>
        <li>MariaDB i MongoDB (bazy danych)</li>
    </ul>
    <li>Zasoby staregopc (czyli niedużo)</li>
    <li>Łącze 0-10 Mbps</li>
    <li>Domenę z końcówką .stary.pc.pl</li>
    <li>Najlepszego Debiana</li>
    <li>Fajny hostname</li>
    <li>Darmowe przekąski w oczekiwaniu na start programów</li>
    <li>Fakt, że raczej nie dostaniesz u nas miejsca (chyba, że znasz Grześka)</li>
</ul>

<h3>Opinie</h3>

<p>
    <i>
        no to very spk
        <br>
        podoba mi się
        <br>
        hostuję tam w sumie wszystko czego potrzebuję
    </i>
    <br>
    -- TadeLn, 10.03.2020 (1583860137)
    <br>
    jest to wymagane?/10&#9733
</p>
